<div class="row">
  <div class="col s12 m12 l10">
    <div class="card gameDiv">
      <div class="card-content">
        <form [formGroup]="gameForm" novalidate (ngSubmit)="SubmitGame()">
          <div class="formDiv">
            <textarea formControlName="game" class="materialize-textarea"></textarea>
            <div class="file-field input-field">
              <div class="row">
                <div class="col s6">
                  <div class="col s6">
                    <button class="btn gameBtn">
                      Post
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
