<ul class="collection with-header">
  <li class="collection-item">
    <div>Random Game<a href="#!" class="secondary-content"><i class="material-icons">beach_access</i></a></div>
  </li>
  <li class="collection-item">
    <div>Who Is Connected<a href="#!" class="secondary-content"><i class="material-icons">near_me</i></a></div>
  </li>
  <li class="collection-item">
    <div>Play With Friends<a href="#!" class="secondary-content"><i class="material-icons">hot_tub</i></a></div>
  </li>
  <li class="collection-item">
    <div>Archive<a href="#!" class="secondary-content"><i class="material-icons">archive</i></a></div>
  </li>
  <li class="collection-item">
    <div>Current Games<a href="#!" class="secondary-content"><i class="material-icons">textsms</i></a></div>
  </li>
</ul>
