<ul class="collection with-header">
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/streams']">
      <div>Random Game<a href="#!" class="secondary-content"><i class="material-icons">beach_access</i></a></div>
    </a>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/people']">
      <div>People<a href="#!" class="secondary-content"><i class="material-icons">near_me</i></a></div>
    </a>
  </li>
  <li class="collection-item">
    <div>Play With Friends<a href="#!" class="secondary-content"><i class="material-icons">hot_tub</i></a></div>
  </li>
  <li class="collection-item">
    <div>Archive<a href="#!" class="secondary-content"><i class="material-icons">archive</i></a></div>
  </li>
  <li class="collection-item">
    <div>Current Games<a href="#!" class="secondary-content"><i class="material-icons">textsms</i></a></div>
  </li>
  <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/notifications']">
      <div>Notifications<a href="#!" class="secondary-content"><i class="material-icons">notifications</i></a></div>
    </a>
  </li>
</ul>
